option_settings:
  aws:elbv2:listener:443:
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:ap-south-1:119392112652:certificate/99ced4c3-ca8d-4020-bff5-8075c70f37e9
    SSLPolicy: ELBSecurityPolicy-TLS-1-2-2017-01
  
  aws:elbv2:listener:443:default:
    Type: forward
    TargetGroupArn: awseb-e-3-AWSEBTarge-XXXXX
  
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /
    HealthCheckInterval: 30
    HealthCheckTimeout: 5
    HealthyThresholdCount: 3
    UnhealthyThresholdCount: 5

